{% extends 'layout.html'%}
{% block content %}
{% include '_messages.html' %}

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Admin</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/admin">Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/categories">Categorias de armas</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="/collections">Colecciones de armas</a>
                </li>
              <li class="nav-item">
                <a class="nav-link disabled" href="/logout">Logout</a>
              </li>
          </ul>
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
        </div>
      </nav>

<div class="container">
    <table class="table table-sm table-bordered">
        <thead>
            <th>Nombre</th>
            <th>Precio</th>
            <th>Float</th>
            <th>Stock</th>
            <th>Edicion Skin</th>
            <th>Tipo de Arma</th>
            <th>Imagen</th>
            <th>Editar</th>
            <th>Borrar</th>
        </thead>
        <tbody>
            {% for skin in skins %}
            <tr>
                <td>{{skin.name}}</td>
                <td>${{skin.price}}</td>
                <td>{{skin.float}}</td>
                <td>{{skin.stock}}</td>
                <td>{{skin.brand.name}}</td>
                <td>{{skin.category.name}}</td>
                <td><img src="{{url_for('static', filename='images/' + skin.image)}}" alt="" width="50px" height="50px"></td>
                <td>Editar</td>
                <td>Borrar</td>
            </tr>
            {% endfor %}
        </tbody>

    </table>
</div>

{% endblock content %}